# Source files
src/

# Config files
tsconfig.json
.editorconfig
.eslintrc.json
.gitignore

# Dev files
node_modules/
coverage/
*.log
.DS_Store

# Examples & demo
examples/

# Lock files
yarn.lock
package-lock.json

# Git
.git/
.github/
